* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	background: linear-gradient(white, hsl(0, 43%, 27%));
	height: 100dvh; /* more info about dvh here: https://web.dev/blog/viewport-units */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}
a {
	color: black;
}